Repository ecmwf-ifs/ectrans, pull requests merged in 2024-10, with the labels that each got.

#153 [redgreengpu] Fixed HIP include paths to support ROCm/6.0.3 on LUMI
  src/trans/gpu/algor/external/fourier/hicfft_hip.h
  src/trans/gpu/algor/module/hicblas_hip.h
  src/trans/gpu/algor/module/rocblasDgemmBatched.hip.cpp
  src/trans/gpu/algor/module/rocblasSgemmBatched.hip.cpp
Labels: bug, gpu

#152 Update paths to HIP includes to support ROCm >= 6
  src/trans/gpu/algor/hicblas_hip.h
  src/trans/gpu/algor/hicfft_hip.h
Labels: bug, gpu

#148 Move more TPM modules and setup routines to common
  src/trans/common/CMakeLists.txt
  src/trans/common/internal/interpol_decomp_mod.F90
  src/trans/common/internal/pre_suleg_mod.F90
  src/trans/common/internal/setup_dims_mod.F90
  src/trans/common/internal/setup_geom_mod.F90
  src/trans/common/internal/tpm_fields.F90
  src/trans/common/internal/wts500_mod.F90
  src/trans/cpu/algor/seefmm_mix.F90
  src/trans/cpu/external/setup_trans.F90
  src/trans/cpu/external/trans_pnm.F90
  src/trans/cpu/internal/fsc_mod.F90
  src/trans/cpu/internal/fscad_mod.F90
  src/trans/cpu/internal/gpnorm_trans_ctl_mod.F90
  src/trans/cpu/internal/ldfou2_mod.F90
  src/trans/cpu/internal/ldfou2ad_mod.F90
  src/trans/cpu/internal/ledir_mod.F90
  src/trans/cpu/internal/ledirad_mod.F90
  src/trans/cpu/internal/ltinv_mod.F90
  src/trans/cpu/internal/prepsnm_mod.F90
  src/trans/cpu/internal/set_resol_mod.F90
  src/trans/cpu/internal/setup_geom_mod.F90
  src/trans/cpu/internal/spnsde_mod.F90
  src/trans/cpu/internal/spnsdead_mod.F90
  src/trans/cpu/internal/suleg_mod.F90
  src/trans/cpu/internal/tpm_fields.F90
  src/trans/cpu/internal/tpm_flt.F90
  src/trans/cpu/internal/uvtvd_mod.F90
  src/trans/cpu/internal/uvtvdad_mod.F90
  src/trans/cpu/internal/vdtuv_mod.F90
  src/trans/cpu/internal/vdtuvad_mod.F90
  src/trans/gpu/CMakeLists.txt
  src/trans/gpu/algor/seefmm_mix.F90
  src/trans/gpu/algor/wts500_mod.F90
  src/trans/gpu/external/gpnorm_trans.F90
  src/trans/gpu/external/gpnorm_trans_gpu.F90
  src/trans/gpu/external/setup_trans.F90
  src/trans/gpu/external/trans_end.F90
  src/trans/gpu/external/trans_inq.F90
  src/trans/gpu/internal/dealloc_resol_mod.F90
  src/trans/gpu/internal/fsc_mod.F90
  src/trans/gpu/internal/ledir_mod.F90
  src/trans/gpu/internal/leinv_mod.F90
  src/trans/gpu/internal/ltinv_mod.F90
  src/trans/gpu/internal/pre_suleg_mod.F90
  src/trans/gpu/internal/prepsnm_mod.F90
  src/trans/gpu/internal/set_resol_mod.F90
  src/trans/gpu/internal/setup_dims_mod.F90
  src/trans/gpu/internal/spnsde_mod.F90
  src/trans/gpu/internal/tpm_fft.F90
  src/trans/gpu/internal/tpm_fields.F90
  src/trans/gpu/internal/tpm_fields_flat.F90
  src/trans/gpu/internal/tpm_flt.F90
  src/trans/gpu/internal/trltom_pack_unpack.F90
  src/trans/gpu/internal/uvtvd_mod.F90
  src/trans/gpu/internal/vdtuv_mod.F90
  src/trans/sedrenames.txt
Labels: enhancement

#159 Remove default values for TPM_GEN variables
  src/trans/common/internal/tpm_gen.F90
Labels: tidying

#158 Pin buffers in benchmark
  src/programs/CMakeLists.txt
  src/programs/ectrans-benchmark.F90
Labels: enhancement, gpu

#155 Make in-place FFT optional
  src/trans/gpu/CMakeLists.txt
  src/trans/gpu/internal/dir_trans_ctl_mod.F90
  src/trans/gpu/internal/ftdir_mod.F90
  src/trans/gpu/internal/ftinv_mod.F90
  src/trans/gpu/internal/inv_trans_ctl_mod.F90
Labels: enhancement, gpu

#157 Add support for AMD GPUs
  src/trans/gpu/internal/trgtol_mod.F90
  src/trans/gpu/internal/trltog_mod.F90
  src/trans/gpu/internal/trltom_mod.F90
  src/trans/gpu/internal/trmtol_mod.F90
Labels: bug, gpu

#163 Dumping whole layers
  src/programs/ectrans-benchmark.F90
Labels: enhancement
