Repository ecmwf-ifs/ectrans, pull requests merged in 2024-09, with the labels that each got.

#132 [GPU] Fix potential NaNs when using cutlass
  src/trans/gpu/algor/hicblas_cutlass.cuda.h
  src/trans/gpu/internal/leinv_mod.F90
  src/trans/gpu/internal/trltom_pack_unpack.F90
Labels: bug, gpu

#145 Fix corner cases with many ranks
  src/trans/gpu/internal/dir_trans_ctl_mod.F90
  src/trans/gpu/internal/ftdir_mod.F90
  src/trans/gpu/internal/ftinv_mod.F90
  src/trans/gpu/internal/inv_trans_ctl_mod.F90
  src/trans/gpu/internal/ledir_mod.F90
  src/trans/gpu/internal/leinv_mod.F90
  src/trans/gpu/internal/ltdir_mod.F90
  src/trans/gpu/internal/ltinv_mod.F90
  src/trans/gpu/internal/trgtol_mod.F90
  src/trans/gpu/internal/trltog_mod.F90
  src/trans/gpu/internal/trltom_mod.F90
  src/trans/gpu/internal/trmtol_mod.F90
Labels: bug, gpu

#147 Fix calculation of zstepavg
  src/programs/ectrans-benchmark.F90
Labels: bug

#146 Tidy GEMMs
  src/trans/gpu/algor/hicblas_gemm.hip.cpp
  src/trans/gpu/algor/hicblas_mod.F90
  src/trans/gpu/internal/ledir_mod.F90
  src/trans/gpu/internal/leinv_mod.F90
Labels: tidying, gpu
