Repository ecmwf-ifs/ectrans, pull requests merged in 2025-01, with the labels that each got.

#180 Allow GPU version to compile with OpenMP
  src/programs/CMakeLists.txt
  src/trans/gpu/CMakeLists.txt
  src/trans/gpu/algor/buffered_allocator_mod.F90
  src/trans/gpu/algor/ext_acc.F90
  src/trans/gpu/algor/growing_allocator_mod.F90
  src/trans/gpu/algor/hicblas_mod.F90
  src/trans/gpu/external/gpnorm_trans.F90
  src/trans/gpu/external/gpnorm_trans_gpu.F90
  src/trans/gpu/external/setup_trans.F90
  src/trans/gpu/internal/fsc_mod.F90
  src/trans/gpu/internal/ltdir_mod.F90
  src/trans/gpu/internal/ltinv_mod.F90
  src/trans/gpu/internal/prfi1b_mod.F90
  src/trans/gpu/internal/spnsde_mod.F90
  src/trans/gpu/internal/tpm_hicfft.F90
  src/trans/gpu/internal/trgtol_mod.F90
  src/trans/gpu/internal/trltog_mod.F90
  src/trans/gpu/internal/updspb_mod.F90
  src/trans/gpu/internal/uvtvd_mod.F90
  src/trans/gpu/internal/vdtuv_mod.F90
Labels: enhancement, gpu

#202 Fix overflow bug in printing of Legendre polynomial arrays
  src/trans/gpu/external/setup_trans.F90
Labels: bug

#185 MI300A Race Condition Fix
  src/trans/gpu/internal/trgtol_mod.F90
  src/trans/gpu/internal/trltog_mod.F90
Labels: bug, gpu
